<!DOCTYPE html>
<html lang=“en”>

<head>
  <title>NA_SECURITY_URL Test</title>
</head>

<body>
  <h1>This app tests the NA_SECURITY_URL system function.</h1>

  <h2>NA_SECURITY_URL</h2>
  <a href="{{ NA_SECURITY_URL }}" target="_blank"> {{ NA_SECURITY_URL }}</a>

  <h2>SNOWFLAKE_HOST</h2>
  <p>{{ SNOWFLAKE_HOST }}</p>

  <h2>SNOWFLAKE_ACCOUNT</h2>
  <p>{{ SNOWFLAKE_ACCOUNT }}</p>

  <h2>SNOWFLAKE_DATABASE</h2>
  <p>{{ SNOWFLAKE_DATABASE }}</p>

  <h2>SNOWFLAKE_SCHEMA</h2>
  <p>{{ SNOWFLAKE_SCHEMA }}</p>

  <h2>SNOWFLAKE_USER</h2>
  <p>{{ SNOWFLAKE_USER }}</p>

  <h2>SNOWFLAKE_PASSWORD</h2>
  <p>{{ SNOWFLAKE_PASSWORD }}</p>

  <h2>SERVICE_HOST</h2>
  <p>{{ SERVICE_HOST }}</p>

  <h2>SERVICE_PORT</h2>
  <p>{{ SERVICE_PORT }}</p>

</body>

</html>

